<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analiza Danych</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

<header>
    <h1>Analiza Danych</h1>
</header>

<nav>
    <ul>
        <li><a href="/data_analysis">Analiza danych</a></li>
        <li><a href="/user_analysis">Użytkownicy</a></li>
        <li><a href="/bike_analysis">Rowerki</a></li>
        <li><a href="/predictions">Przewidywania Populacji Produktów</a></li>
    </ul>
</nav>

<section>
    <h2>Witaj na stronie analizy danych</h2>
    <p>Ta strona umożliwia analizowanie danych z różnych źródeł. Możesz sprawdzić analizę użytkowników, rowerów i inne.</p>
    <p>Wybierz opcję z menu, aby przejść do szczegółowej analizy danych.</p>
</section>

<footer>
    <p>&copy; 2025 Twoja Firma</p>
</footer>

</body>
</html>
